<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgs.mapper.CourseTeacherMapper">
    <insert id="insert" parameterType="com.lgs.entity.CourseTeacher">
        INSERT INTO course_teacher (course_id, teacher_id, teacher_name, teaching_class_id, is_main_teacher)
        VALUES (#{courseId}, #{teacherId}, #{teacherName}, #{teachingClassId}, #{isMainTeacher})
    </insert>

    <select id="selectByCourseId" parameterType="java.lang.Integer" resultType="com.lgs.entity.CourseTeacher">
        SELECT * FROM course_teacher WHERE course_id = #{courseId}
        ORDER BY id ASC
    </select>

    <select id="selectByTeacherId" parameterType="java.lang.String" resultType="com.lgs.entity.CourseTeacher">
        SELECT * FROM course_teacher WHERE teacher_id = #{teacherId}
        ORDER BY course_id
    </select>

    <select id="selectByTeachingClassId" parameterType="java.lang.Integer" resultType="com.lgs.entity.CourseTeacher">
        SELECT * FROM course_teacher WHERE teaching_class_id = #{teachingClassId}
        ORDER BY is_main_teacher DESC, id ASC
    </select>

    <delete id="deleteByCourseIdAndTeacherId" parameterType="java.util.Map">
        DELETE FROM course_teacher WHERE course_id = #{courseId} AND teacher_id = #{teacherId}
    </delete>

    <delete id="deleteByTeachingClassId" parameterType="java.lang.Integer">
        DELETE FROM course_teacher WHERE teaching_class_id = #{teachingClassId}
    </delete>

    <update id="updateById" parameterType="com.lgs.entity.CourseTeacher">
        UPDATE course_teacher
        SET teacher_id = #{teacherId},
            teacher_name = #{teacherName},
            teaching_class_id = #{teachingClassId},
            is_main_teacher = #{isMainTeacher}
        WHERE id = #{id}
    </update>
</mapper>
