<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.mapper.StudentMapper">

    <select id="selectAll" resultType="com.lgs.entity.Student">
        select * from student
        <where>
            <if test="name != null"> and (name like concat('%', #{name}, '%') or username like concat('%', #{name}, '%'))</if>
            <if test="username != null"> and username = #{username}</if>
        </where>
        order by username asc
    </select>

    <insert id="insert" parameterType="com.lgs.entity.Student" useGeneratedKeys="true">
        insert into student(id, username, password, name, avatar, age, gender, phone, email, profession, role, status)
        values (#{id}, #{username}, #{password}, #{name}, #{avatar},#{age},#{gender},#{phone},#{email},#{profession},#{role}, #{status})
    </insert>

    <update id="updateById" parameterType="com.lgs.entity.Student">
        update student
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="profession != null">profession = #{profession},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByUsernames" parameterType="java.util.List" resultType="com.lgs.entity.Student">
        select * from student
        where username in
        <foreach collection="list" item="username" open="(" separator="," close=")">
            #{username}
        </foreach>
        order by username asc
    </select>

</mapper>